{% extends "base.html" %}

{% block content %}

<h1>{{ recipe.name }}</h1>


<div class="col_8">

<h2>Beschreibung</h2>

{{ recipe.description }}


</div>

<div class="col_4">

<h2>Inhalt</h2>
<ul  class="alt">
{% for ingredient in recipe.ingredient_set.all %}
    <li>{{ ingredient.amount }} ml {{ ingredient.rawMaterial.name }}</li>
{% endfor %}

</ul>
</div>

<div class="col_12">
	<a href="{% url 'start' recipe.id %}"><button class="green">Cocktail mischen!</button></a>
	<a href="{% url 'index' %}"><button>Zurück zur Übersicht</button></a>
</div>


{% endblock %}