{% extends "base.html" %}

{% block content %}

<h1>Rezepte zur Auswahl</h1>

{% if recipe_list %}
    <ul class="alt">
    {% for recipe in recipe_list %}
        <a href="{% url 'detail' recipe.id %}">
        	<div class="col_4 recipe">
	
	        	<div class="col_12 index">
        	
   		     		{{ recipe.name }}
        	 	</div>
        	 
        	 	<div class="col_12 ingredients">	
           			{% for ingredient in recipe.ingredient_set.all %}
        				{{ ingredient.rawMaterial.name }} 
        			{% endfor %}
        		 </div> 	 
    		</div> 
    		
    	</a>
    {% endfor %}
    </ul>
{% else %}
    <p>Keine Rezepte vorhanden.</p>
{% endif %}

{% endblock %}