{% extends "base.html" %}

{% block content %}

<h1>Rezepte zur Auswahl</h1>

{% if recipe_list %}
    <ul class="alt">
    {% for recipe in recipe_list %}
    	{% if recipe.isPumpable %}
	        <div class="col_2 index">
	        <a href="{% url 'detail' recipe.id %}">
	        	<button class="large green index">
	        		{{ recipe.name }}
	        	</button>
	         </a>
	        </div>
		{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>Keine Rezepte vorhanden.</p>
{% endif %}

{% endblock %}