{% extends "base.html" %}

{% block content %}

<h1>{{ recipe.name }} wird zubereitet</h1>

<div class=col_12 id="mixing">
	<div class=col_4> </div>
	<div class="col_4 center">
		<div id="timer"><h2>{{ duration|floatformat:0 }} sec</h2></div>
		<video id="mixing-gif" poster="https://media.giphy.com/media/3oEduYlHXf2yfop1HW/200_s.gif" style="margin:0;padding:0" autoplay="" loop="" width="100%">
        	<source src="https://media.giphy.com/media/l2JJoxa8AAd3NwwPS/giphy.mp4" type="video/mp4">
  			Cocktail wird gemixt!
        </video>
        <div class=col_4> </div>
	</div>	
</div>

<div class=col_12 id="serving" style="display:none">
	<div class=col_4> </div>
	<div class="col_4 center h2">
	<div id="timer"><h2><i class="fa fa-check" aria-hidden="true"></i> FERTIG!</h2></div>
	<video id="serving-gif" poster="https://media.giphy.com/media/3oEduYlHXf2yfop1HW/200_s.gif" style="margin:0;padding:0" width="100%" >
            <source src="https://media.giphy.com/media/3oEduYlHXf2yfop1HW/giphy.mp4" type="video/mp4">
            Cocktial fertig.
        </video>
        <a href="{% url 'index' %}"><button>Nächsten Cocktail bestellen</button></a>
	</div>
	<div class=col_4> </div>
</div>


<script language="javascript" type="text/javascript">
var count={{ duration|floatformat:0 }};

var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

function timer()
{
  count=count-1;
  if (count <= 0)
  {
     clearInterval(counter);
     orderNewCocktail();
     return;
  }

  //Do code for showing the number of seconds here
document.getElementById("timer").innerHTML="<h2>" + count + " sec</h2>";
}

function orderNewCocktail() {
	$("#mixing").hide();
	$("#serving").show();
	document.getElementById("serving-gif").play();
	document.getElementById("mixing-gif").pause();
}
</script>

{% endblock %}